main {
    position: relative;
    width: 100%;
    height: 800px;
    box-shadow: none;
    overflow: hidden;
}

main .framed {
    position: absolute;
    top: -7px;
    left: 4.5rem;
    width: 410px;
    height: 815px;
    background: url(../images/mobile-frame.png) no-repeat center top;
    background-size: contain;
    z-index: 5;
}

.works-gallery-slider {
    z-index: 1;
    position: relative;
}

.project-item {
    width: 250px;
    height: 450px;
    list-style-type: none;
    position: absolute;
    top: 10rem;
    left: 6.5rem;
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform .1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 5.5rem;
        top: 1rem;
        width: 380px;
        height: 770px;
        transform: none;
        border-radius: 40px;
        box-shadow: none;
        opacity: 1;
        z-index: 5;
    }

    &:nth-child(3) {
        left: 39%;
    }

    &:nth-child(4) {
        left: calc(40% + 250px);
    }

    &:nth-child(5) {
        left: calc(41% + 500px);
    }

    &:nth-child(6) {
        left: calc(42% + 750px);
        opacity: 0;
    }
}

/* .project-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 780px;
    background: url(../images/mobile-frame.png) no-repeat center top;
    background-size: contain;
    z-index: 2;
} */

.content {
    width: min(30vw, 360px);
    position: absolute;
    display: none !important;
    bottom: 5%;
    left: 1.5rem;
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;

    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.project-item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.navigater {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
        background-color: rgba(255, 255, 255, .2);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(255, 255, 255, 0.4);
        margin: 0 .25rem;
        padding: .75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, .4);
        }

        &.prev {
            background: url(../images/prev-arrow.svg) no-repeat center;
            background-size: 20px auto;
        }

        &.next {
            background: url(../images/next-arrow.svg) no-repeat center;
            background-size: 20px auto;
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .project-item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (width < 650px) {
    .content {
        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .project-item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}